* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: lightgrey;
}

.father {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 10vh;
  padding-top: 5vh;
  flex-wrap: wrap;
}

.product {
  width: 30vh;
  height: 60vh;
  margin: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aqua;
}